.project
	.text
		h1.text-underline big-eye
		p.
			CLI app which executes commands when files change. Works with any program/language, not just node. Runs on Windows, Linux and Mac, backed by 100% testing code coverage and pretty output!
		.buttons-row
			a.small(href='https://npmjs.com/package/big-eye')
				| See on npm
			+gh-button('big-eye')
	a(href='https://github.com/nikersify/big-eye')
		.link
			.image
				img(src='/assets/img/projects/big-eye.png'
					alt='Big-eye screenshot')
			p
				| #[strong Visit] website
				+feather('arrow-right')



