.project
	.text
		h1.text-underline fig.js
		p.
			Experimental front-end framework which uses #[a(href='https://pugjs.org') pug templates] to render apps' contents. The project consists of a #[a(href='https://browserify.org/') browserify] transform, a separate compiler package, a website containing the documentation, and the library itself!
		.buttons-row
			a.small(href='https://npmjs.com/package/figjs')
				| See on npm
			a.big(href='https://github.com/nikersify/fig')
				| Github
				i(data-feather='github')
	a(href='https://fig.nikerino.com')
		.link
			.image
				img(src='/assets/img/projects/fig.png'
					alt='Fig screenshot')
			p
				| #[strong Visit] website
				i(data-feather='arrow-right')

