.project
	.text
		h1.text-underline link
		p.
			The most original project idea of all time! Near instant results, click statistics divided by stuff like browser type, operating system or country and a sketchy looking domain makes it the number π choice in terms of shortening your links!
		.buttons-row
			a.small(href='https://link.nikerino.com')
				| See on the web
			+gh-button('link')
	a(href='https://link.nikerino.com')
		.link
			.image
				img(src='/assets/img/projects/link.png'
					alt='Link screenshot')
			p
				| #[strong Visit] website
				+feather('arrow-right')

