.project
	.text
		h1.text-underline nikerino.com
		p.
			Inception! (Still technically a project though, right guys?...). The page was first designed in #[a(href='https://www.sketchapp.com') Sketch], later to be built in Sass & pug (a combo which I am quite fond of), no frameworks were harmed (or used) during development.
		.buttons-row
			a.small(href='#')
				| See on the web
			+gh-button('nikerino.com')
	a(href='#')
		.link
			.image
				img(src='/assets/img/projects/nikerino.png'
					alt='Nikerino.com screenshot')
			p
				| #[strong Visit] website
				+feather('arrow-right')
