a.project-small(href='https://github.com/nikersify/cactus')
	.version(data-npm-version='cactus-ts')
	.name cactus
	.description TeamSpeak3 helper library
	+gh-button

a.project-small(href='https://github.com/nikersify/struc')
	.version(data-npm-version='struc')
	.name struc
	.description Generate file/directory structures from simple JSON
	+gh-button

a.project-small(href='https://github.com/nikersify/log')
	.version(data-npm-version='@nikersify/log')
	.name log
	.description Cute and tiny logging utility
	+gh-button

a.project-small(href='https://github.com/nikersify/simple-words')
	.version(data-npm-version='simple-words')
	.name simple-words
	.description 700+ words of length 3-7
	+gh-button

a.project-small(href='https://github.com/nikersify/dotfiles')
	.version 🤔
	.name dotfiles
	.description My personal configuration files (vim, tmux, mac, etc.)
	+gh-button
