.project
	.text
		h1.text-underline Splush!
		p.
			Have you ever wanted to know precisely when a remote unix job has been finished from the comfort of your mobile phone (or another device running a browser that supports notifications) without moving a muscle? Well look no further and Splush away!
		.buttons-row
			a.small(href='https://npmjs.com/package/splush')
				| See on npm
			a.big(href='https://github.com/nikersify/splush')
				| Github
				i(data-feather='github')
	a(href='https://splush.nikerino.com')
		.link
			.image
				img(src='/assets/img/projects/splush.png'
					alt='Splush screenshot')
			p
				| #[strong Visit] website
				i(data-feather='arrow-right')

