section.action#contact
	.contain-inner
		.main
			p Stalk my #[strong internet stuff]
			.buttons
				a.button-glass(href='https://steamcommunity.com/id/nikersify')
					img(src='/assets/img/fa-steam.png' alt='Steam icon')
				a.button-glass(href='https://github.com/nikersify')
					img(src='/assets/img/fa-github.png' alt='GitHub icon')
				a.button-glass(href='https://keybase.io/nikersify')
					img(src='/assets/img/fa-key.png' alt='Keybase icon')
			p Or simply #[strong drop me a message...]
			a.big(href='mailto:nikersify@nikerino.com')
				| Contact
				i(data-feather='mail')
		p.credits
			| Designed and built by
			| #[strong Maciej]
			| Łaszcz (#[strong nikersify]) :]
