section.action#contact
	.contain-inner
		.main
			p Stalk my #[strong internet stuff]
			.buttons
				a.button-glass(href='https://keybase.io/nikersify')
					img(src='/assets/img/fa-key.png' alt='Keybase icon')
				a.button-glass(href='https://github.com/nikersify')
					img(src='/assets/img/fa-github.png' alt='GitHub icon')
				a.button-glass(href='https://npmjs.com/@nikersify')
					img(
						src='/assets/img/devicons-npm.png'
						style='height: 55%; width: 55%; top: 2px; right: -2px'
					)
			p Or simply #[strong drop me a message...]
			+mail-button

		p.credits #[strong Maciej] Łaszcz #[strong ©] #[span#year 2018]
