section.showcase
	.contain-inner
		h1.section-header#showcase Things I've made
		.projects
			include projects/figjs.pug
			include projects/splush.pug
			include projects/link.pug
			include projects/nikerino.pug
			include projects/small.pug
