doctype html

html(lang='en')
	include _head

	body
		#loading-overlay

		.content
			include sections/splash.pug
			include sections/showcase.pug
			include sections/action.pug

			#back-to-top
				a.button-glass(href='#')
					i(data-feather='arrow-up')
